@font-face {
  font-family: "Stempel Garamond LT Pro";
  src: url("/fonts/StempelGaramondLTProRoman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Stempel Garamond LT Pro";
  src: url("/fonts/StempelGaramondLTProItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
