@use "./responsive.scss" as *;

@mixin typeLarge {
  font-family: var(--font-family-stempel-garamond);
  font-weight: 400;
  font-size: var(--font-size-18);
  line-height: var(--line-height-20);

  @include mobileDown {
    font-size: var(--font-size-12);
    line-height: var(--line-height-13);
  }
}

@mixin typeLargeAllCaps {
  @include typeLarge;
  text-transform: uppercase;
  font-variant: all-small-caps;
  letter-spacing: 0.06em;
}

@mixin typeBody {
  font-family: var(--font-family-stempel-garamond);
  font-weight: 400;
  font-size: var(--font-size-12);
  line-height: var(--line-height-13);
}

@mixin typeBodyAllCaps {
  @include typeBody;
  text-transform: uppercase;
  font-variant: all-small-caps;
  letter-spacing: 0.06em;
}
